<h1 mat-dialog-title>Edit player </h1>



<mat-form-field appearance="fill">
  <mat-label>Select profile foto</mat-label>
  <mat-select [(ngModel)]="profilePic">
    <mat-option class="picture" value="3"><img src="assets/img/profile_{{3}}.jpg">Business Women</mat-option>
    <mat-option class="picture" value="1"><img src="assets/img/profile_{{1}}.jpg">Business Man</mat-option>
    <mat-option class="picture" value="4"><img src="assets/img/profile_{{4}}.jpg">Woman</mat-option>
    <mat-option class="picture" value="2"><img src="assets/img/profile_{{2}}.jpg">Man</mat-option>
  </mat-select>
</mat-form-field>



<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="'delete'" cdkFocusInitial>DELETE</button>
  <button mat-button [mat-dialog-close]="profilePic" cdkFocusInitial>Ok</button>
</div>
