<h1 mat-dialog-title>Add a new player </h1>


<div mat-dialog-content>
  <p>Please enter the name of a player</p>
  <mat-form-field >
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" ngModel maxlength="6">
  </mat-form-field>

</div>
<mat-form-field appearance="fill">
  <mat-label>Select profile foto</mat-label>
  <mat-select [(ngModel)]="profilePic">
    <mat-option class="picture" value="3"><img src="assets/img/profile_{{3}}.jpg">Business Women</mat-option>
    <mat-option class="picture" value="1"><img src="assets/img/profile_{{1}}.jpg">Business Man</mat-option>
    <mat-option class="picture" value="4"><img src="assets/img/profile_{{4}}.jpg">Woman</mat-option>
    <mat-option class="picture" value="2"><img src="assets/img/profile_{{2}}.jpg">Man</mat-option>
  </mat-select>
</mat-form-field>



<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [disabled]="name.length == 0" [mat-dialog-close]="{name, profilePic}" cdkFocusInitial>Add</button>
</div>
